<h4>Agregar Personaje</h4>

<form class="row">
  <input
    type="text"
    [(ngModel)]="character.name"
    name="name"
    class="form-control mb-2"
    placeholder="Nombre"
  />
  <input
    type="text"
    [(ngModel)]="character.power"
    name="power"
    class="form-control mb-2"
    placeholder="Poder"
  />

  <button type="submit" class="btn btn-primary" (click)="emitCharacter()" >Agregar</button>
</form>

<pre>{{ character | json }}</pre> <!-- Se empieza a ver el primer pipe, para esto se pasa un | y se escribe el formato a verlo (?) -->

