<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <!-- (onListenChild)="searchByCounrty($event)" -->
    <shared-search-box
      (onDebounce)="searchByCounrty($event)"
      [initialValue]="initialValue"
      placeholder="Buscar Por Pais"
    >
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- <countries-country-table [countries]="countries"></countries-country-table> -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-country-ntable [countries]="countries"></countries-country-ntable>
  </div>
</div>
